{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<div class = "center">
    <br>
    <h1 style= "font-size: 70px;">Login</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <form method="POST" action="">
        {% csrf_token %}
        <table id="tablecenter">
            <tr>
                <td><input type="text" name="username" placeholder="Username" class="form-control" style="width: 95%; text-align: center"></td>
            </tr>
                    
            <tr>
                <td><input type="password" name="password" placeholder="Password" class="form-control" style="width: 95%; text-align: center"></td>
            </tr>

            <tr>
                <td><input class="btn login_btn" type="submit" value="Login" style="text-align: center"></td>
            </tr>
        </table>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
    <br>
    <br>
    <br>

    Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a>

</div>

{% endblock content %}