{% extends 'base.html' %}

 {% block content %}

  <h1>Tugas 4 PBP</h1>

  <h5>Username: </h5>
  <p>{{user}}</p>

  <table>
    <tr>
      <th>Task Creation Date</th>
      <th>Task Title</th>
      <th>Description</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% for task in task_list %}
        <tr>
            <th>{{task.date}}</th>
            <th>{{task.title}}</th>
            <th>{{task.description}}</th>
        </tr>
    {% endfor %}
  </table>

  <button><a href="{% url 'todolist:add_task' %}">Add Task</a></button>
  <button><a href="{% url 'todolist:logout' %}">Logout</a></button>

 {% endblock content %}